- name: Install pip3
  apt:
    name: python3-pip
    state: present

- name: Install lib Kubernetes
  pip:
    name: kubernetes
    executable: pip3
    state: present

- name: Firewall off
  shell: |
    ufw disable

- name: Stop systemd-resolved service
  systemd:
    name: systemd-resolved
    state: stopped

- name: Disable systemd-resolved service
  systemd:
    name: systemd-resolved
    enabled: false

- name: Remove /etc/resolv.conf symlink or file
  file:
    path: /etc/resolv.conf
    state: absent

- name: Create new /etc/resolv.conf with custom DNS servers
  copy:
    dest: /etc/resolv.conf
    content: |
          nameserver 8.8.8.8
          nameserver 1.1.1.1
    owner: root
    group: root
    mode: '0644'