- name: Install pip3
  apt:
    name: python3-pip
    state: present

- name: Install lib Kubernetes
  pip:
    name: kubernetes
    executable: pip3
    state: present

- name: Firewall off
  shell: |
    ufw disable

- name: Ensure DNSStubListener=no is set in resolved.conf
  lineinfile:
    path: /etc/systemd/resolved.conf
    line: DNSStubListener=no
    insertafter: EOF
  register: config_changed

- name: Restart systemd-resolved service if configuration changed
  systemd:
    name: systemd-resolved         
    state: restarted              
  when: config_changed.changed
